@charset "utf-8";
/* CSS Document */

	body {
			background-color: wheat
		}

		article {
			box-sizing: border-box;
			float: right;
			width: 100%;
			border: 2px solid;
			text-align: center
			
		}

		h2{
			text-align: center;
			font-family: "WalterTurncoat Regular";
			color:rebeccapurple;
			padding-right: 400px;
			padding-top: 50px;
		}

		.welcome{
			text-align: center;
			float: right;
		}


			.headshot{
				float: left;
				padding: 50px;
				padding-bottom: 150px;
			}

			aside {

			}
			footer {

			}
			.container {
			  position: relative;
			}

			img { 
			  width: 550px;
			  height: auto;
			}

			.nav {
				margin: 30px;
				margin-right: 0px;
			}


			a {
				overflow: hidden;
				text-decoration: none;
				color: #000000;
				border: 2px solid #000000;
				border-bottom: 0px;
				float: right;
				cursor: pointer;
				padding: 15px;
				padding-left: 25px;
				padding-right: 25px;
				transition: 0.3s;
				font-size: 22px;	
			}

			a:hover {
				background-color: antiquewhite;
			}


			@media (max-width: 1100px) {
				aside, article {
				 width: 100%;
				 height: auto;
				}
			}
			@font-face {
				font-family: "WalterTurncoat Regular";
				src: url("fonts/WalterTurncoat-Regular.ttf");
			}
