@charset "utf-8";
/* CSS Document */

	body {
			background-color: wheat
		}

		article {
			clear: both;
			box-sizing: border-box;
			width: 100%;
			border: 2px solid;
			
		}


		.welcome {
			float: right;
			padding: 50px;
			width: 40%;
		}

		.welcome h2{
			color:rebeccapurple;
			font-family:"WalterTurncoat Regular";
			text-align: center;
		}

		.welcome p {
			font-size: 25px;
			float: right;
			text-align: center;
		}
		.welcome h3{
				text-align: center;
		}
			.headshot{
				float: left;
				padding: 50px;
				width: 40%;
			}

			.container {
			  position: relative;
			}
			

			img { 
			  width: 550px;
			  height: auto;
			}
						

			.nav {
				margin: 30px;
				margin-right: 0px;
			}


			.nav a {
				text-align: center;
				overflow: hidden;
				text-decoration: none;
				color: #000000;
				border: 2px solid #000000;
				border-bottom: 0px;
				float: right;
				cursor: pointer;
				padding: 15px;
				padding-left: 25px;
				padding-right: 25px;
				transition: 0.3s;
				font-size: 22px;	
			}

			a.two:hover {
				background-color: antiquewhite;
			}

			.resources{
				clear: both;
				display: inline-block;
				margin: 20px;
				margin-top: 10;
				padding-left: 100px;
				padding-right: 40px;
			}

			.resources a { 
				text-align: center;				
				float: none;
				display: inline-block;
				margin: 30px;
				text-decoration: none;
				color: #000000;
				border: 2px solid #000000;
				cursor: pointer;
				padding: 15px;
				padding-left: 50px;
				padding-right: 50px;
				transition: 0.3s;
				font-size: 50px;
			}

			@media (max-width: 1100px) {
				.welcome, .headshot {
				 width: 100%;
				 height: auto;
				}
			}
			@font-face {
				font-family: "WalterTurncoat Regular";
				src: url("fonts/WalterTurncoat-Regular.ttf");
			}
