@charset "utf-8";
/* CSS Document */

	body {
			background-color: wheat
		}
		.container {
		 	position: relative;
		}

		img { 
			width: 550px;
			height: auto;
			}
		a.one:hover{
			background-color: wheat
		}

		.nav h2{
			margin: 20px;
			margin-bottom: 0px;
			margin-right: 0px;
			text-align: center;
			border: 2px solid #000000;
			border-bottom: 0px;
			float: right;
			padding: 15px;
			padding-left: 30px;
			padding-right: 30px;
			transition: 0.3s;
			font-size: 30px;	
		}
		article {
			clear: both;
			border: 2px solid;
			box-sizing: border-box;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: 0px;
			margin-right: 0px;
		}
		.boxes{
			float: none;
			height: 400px;
			margin: 20px;
			padding-bottom: 100px;

		}

		.mySlides {display: none}

		.slideshow-container {
		  max-width: 300px;
		  margin: auto;
		}


		.prev, .next {
		  cursor: pointer;
		  top: 50%;
		  width: auto;
		  padding: 16px;
		  margin-top: -22px;
		  color: white;
		  font-weight: bold;
		  font-size: 18px;
		  transition: 0.6s ease;
		  border-radius: 0 3px 3px 0;
		  user-select: none;
		}


		.next {
		  right: 0;
		  border-radius: 3px 0 0 3px;
		}


		.prev:hover, .next:hover {
		  background-color: rgba(0,0,0,0.8);
		}

		.text {
		  color: #f2f2f2;
		  font-size: 15px;
		  padding: 8px 12px;
		  position: absolute;
		  bottom: 8px;
		  width: 30%;
		  text-align: center;
		}


		.numbertext {
		  color: #f2f2f2;
		  font-size: 12px;
		  padding: 8px 12px;
		  position: absolute;
		  top: 0;
		}

		.dot {
		  cursor: pointer;
		  height: 15px;
		  width: 15px;
		  margin: 0 2px;
		  background-color: #bbb;
		  border-radius: 50%;
		  display: inline-block;
		  transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		  background-color: #717171;
}


		.fade {
		  -webkit-animation-name: fade;
		  -webkit-animation-duration: 1.5s;
		  animation-name: fade;
		  animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}

		@keyframes fade {
		  from {opacity: .4} 
		  to {opacity: 1}
		}


		@media only screen and (max-width: 300px) {
		  .prev, .next,.text {font-size: 11px}
				}
		.boxes img{
			float: right;
			width: 200px;
			margin: 30px;
			margin-right: 120px;
			border: 2px solid;
			padding-left: 15px;
		}
		.pages{
				float:left;
				width: 40%;
				margin: 10px;
				margin-top: 100px;
				padding-left: 50px;
		}

		.pages a { 
				text-align: center;
				margin: 20px;
				text-decoration: none;
				color: #000000;
				border: 2px solid #000000;
				cursor: pointer;
				padding: 15px;
				transition: 0.3s;
				font-size: 25px;
			}
			
			#art{
				padding-left: 43px;
				padding-right: 43px;
			}

			#architecture{
				padding-left: 47px;
				padding-right: 47px;
			}

			a:hover {
				background-color: antiquewhite;
			}

			@media (max-width: 1100px) {
				.pages, .boxes {
				 width: 100%;
				 height: auto;
				}
			}
			@font-face {
				font-family: "WalterTurncoat Regular";
				src: url("fonts/WalterTurncoat-Regular.ttf");
			}
