@charset "utf-8";
/* CSS Document */

	body {
			background-color: wheat
		}
		h1 {
			color:rebeccapurple;
			font-family: "WalterTurncoat Regular";
		}
		p {
			font-size: 18px;
		}
		article {
			box-sizing: border-box;
			float: right;
			width: 73%;
			height: 580px;
			background-color: wheat;
			padding-bottom: 240px;
			background-image: url("images/romanteacher.gif");
			background-repeat: no-repeat;
			background-position: bottom;
			margin: 7px;
			border: solid;
			padding-left: 10px;
			padding-right: 10px;
		}
		aside {
			box-sizing: border-box;
			background-color:brown;
			float: left;
			width: 25%;
			height: 595px;
			padding: 5px;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		footer {
			text-align: center;
			width: 100%;
			background-color: lightgrey;
			clear: both;
			padding: 1px;
		}
		.container {
		  position: relative;
		}

		img { 
		  width: 550px;
		  height: auto;
		}
		.tab {
			  overflow: hidden;
		}
		.tab button {
		  background-color: inherit;
		  float: right;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}
		.tab button:hover {
		  background-color: antiquewhite;
		}

		.tab button.active {
		  background-color: #ccc;
		}
		@media (max-width: 1100px) {
  			aside, article {
   			 width: 100%;
   			 height: auto;
  			}
		}
		@font-face {
  			font-family: "WalterTurncoat Regular";
 			src: url("fonts/WalterTurncoat-Regular.ttf");
		}
