@charset "utf-8";
/* CSS Document */

body {
	background-color: wheat;
}

h1 {
	text-align: center;
}

#wrapper{
	text-align: center;
}

#gender{
	text-align: center;
}

#bubbles{
	margin: 0 auto;
	display: table;
}

#enter{
	text-align: center
}
